{% extends "base.html" %}

{% block content %}

<div class="grid grid-flow-col auto-cols-max gap-2 py-8">
  <a href="https://github.com/irh">
    <img src="github.svg" class="icon-button"></img>
  </a>

  <a href="https://twitter.com/_hobson_">
    <img src="x-twitter.svg" class="icon-button"></img>
  </a>

  <a href="https://www.linkedin.com/in/ian-hobson-82ba9bb4/">
    <img src="linkedin.svg" class="icon-button"></img>
  </a>

  <a href="mailto:ian@hobson.dev">
    <img src="envelope.svg" class="icon-button"></img>
  </a>
</div>

{% endblock content %}
